/* fond de page */
body {
  background-image: linear-gradient(0deg, lightgray,silver 25%,#0078A8);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 780px;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
   
}

/* bandeau de titre */
h1 { 
  color: white;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 1.33em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;
}

/* contenu de la page */
body > * {}

/* polices de caractères */
body { font-family: Trebuchet MS, serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}
#map { height: 550px;
	   margin-left: 20px;
       margin-right: auto; 
	   width: 70%;
float:left;	   }

#description {  margin-left: auto;
  margin-right: 20px;
  width: 410px;
  margin-top: 10px;
  float:right;
  font-size: 20px;
  color: black;
  font-family: Gill Sans, sans-serif ;
text-align: left;}
